footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size:25px;
	font-weight: 400;
	color: #e0e0e0;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}

@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
#banner-p{
    color: #e31e1e;

}

.card-body {
    height: 150px; /* set a fixed height for the card body */
  }
  .image-container img {
  width: 150px;
}